In [1]:
import numpy as np
from urllib.parse import urlparse, ParseResult
import pandas as pd
from visions import *
import pathlib

In [4]:
s = pd.Series(
    [
        pathlib.Path(
            r"src/visions/visualisation/typesets/typeset_complete.png"
        ).absolute(),
        pathlib.Path(
            r"src/visions/visualisation/typesets/typeset_standard.png"
        ).absolute(),
        None,
        pathlib.Path(
            r"src/visions/visualisation/typesets/typeset_geometry.png"
        ).absolute(),
        None,
    ],
    name="image_png_missing",
)
s in File

True

In [6]:
from visions.utils.series_utils import nullable_series_contains

@nullable_series_contains(None)
def t(s):
    return True

TypeError: inner() missing 1 required positional argument: 'series'

In [4]:
import os
os.path.exists(r"src/visions/visualisation/typesets/typeset_complete.png")

True

In [24]:
%time pd.isna(x).all()
%time all(pd.isna(i) for i in x)

CPU times: user 19.9 ms, sys: 4.95 ms, total: 24.8 ms
Wall time: 36 ms
CPU times: user 54 µs, sys: 1 µs, total: 55 µs
Wall time: 58.9 µs

False

In [27]:
x.isnull

<bound method Series.isnull of 0           1.0
1           1.0
2           1.0
3           1.0
4           1.0
           ...
9999996     1.0
9999997     1.0
9999998     1.0
9999999     1.0
10000000    NaN
Length: 10000001, dtype: float64>

In [28]:
%time set(x)

CPU times: user 1.19 s, sys: 14.5 ms, total: 1.21 s
Wall time: 1.28 s

{nan, 1.0}

In [2]:
series = pd.Series(
        [
            urlparse("http://www.cwi.nl:80/%7Eguido/Python.html"),
            urlparse("https://github.com/dylan-profiling/hurricane"),
        ],
        name="url_nan_series",
    )

In [3]:
series in URL

True

In [4]:
def test(series):
    if series.hasnans:
        series = series.dropna()
        if series.empty:
            return False
        else:
            return all(isinstance(x, ParseResult) and all((x.netloc, x.scheme)) for x in series)

In [5]:
test(series)

In [6]:
from typing import Sequence

import pandas.api.types as pdt
import numpy as np
import pandas as pd

from visions.relations import IdentityRelation, InferenceRelation, TypeRelation
from visions.types import VisionsBaseType
from visions.utils.coercion import test_utils
from visions.utils.warning_handling import suppress_warnings
from visions.types import VisionsBaseType
class Float(VisionsBaseType):
    """**Float** implementation of :class:`visions.types.type.VisionsBaseType`.

    Examples:
        >>> x = pd.Series([1.0, 2.5, 5.0, np.nan])
        >>> x in visions.Float
        True
    """

    @classmethod
    def get_relations(cls) -> Sequence[TypeRelation]:
        return _get_relations(cls)

    @classmethod
    def contains_op(cls, series: pd.Series) -> bool:
        return pdt.is_float_dtype(series)

def to_float(series: pd.Series) -> pd.Series:
    return series.astype(float)

def test_string_is_float(series) -> bool:
    coerced_series = test_utils.option_coercion_evaluator(string_to_float)(series)
    return coerced_series is not None and coerced_series in Float


def string_to_float(series: pd.Series) -> pd.Series:
    if any(',' in x for x in series.dropna()):
        series = series.str.replace(',', '')

    return to_float(series)

In [7]:
from visions import StandardSet
import visions
from visions import *

typeset = StandardSet()

series = pd.Series(['1,000', '2,000,000'], name='string_with_sep_int_series')

string_to_float(series)

0       1000.0
1    2000000.0
Name: string_with_sep_int_series, dtype: float64

In [8]:
typeset.infer_series_type(series)

String

In [9]:
typeset.detect_series_type(series)

String

In [10]:
typeset.relation_graph[String][Float]['relationship'].relationship(series)

False

In [11]:
test_string_is_float(series)

True

In [14]:
Integer().relations

ValueError: Types cannot be initialized

In [200]:
import timeit
import numpy as np
import pandas as pd

class type_profiler:
    def __init__(self, type, detection_data, sequence_count=10000):
        self.type = type
        self.detection_data = detection_data
        self.sequence_count = sequence_count

    def profile_detection(self):
        runs = {}
        for key, data in self.detection_data.items():
            time = timeit.timeit(lambda: data in self.type, number=self.sequence_count)
            runs[key] = time / self.sequence_count
        return runs

def profile_type(dtype, profile_data, run_count=1000):
    return {name: timeit.timeit(lambda: data in dtype, number=run_count) / run_count
            for name, data in profile_data.items()}

In [201]:
from visions.tests

{'a': 4.502749001403572e-06}

In [92]:
detection = {'a': pd.Series([1,2,3,4])}
tp = type_profiler(Integer, detection, 100000)
tp.profile_detection()

{'a': 4.661919190002664e-06}

In [141]:
from collections import Counter
from bounter import bounter

In [189]:
s = pd.Series(['1', '2', '3']*1000)

In [190]:

%timeit Counter(s)

33.7 ms ± 798 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [197]:
def f(s):
    bount = bounter(size_mb=1024, need_iteration=False)
    bount.update(i for i in s)
    return bount
    
%timeit f(s)

266 ms ± 10.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [194]:
x = f(s)

In [196]:
x.total()

300000

In [164]:
%timeit s.value_counts().to_dict()

8.27 ms ± 757 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [167]:
s.value_counts().to_dict()

{6: 200000, 2: 200000, 1: 200000, 5: 100000, 4: 100000, 3: 100000}

In [174]:
sorted(tuple(dict(zip(*np.unique(s, return_counts=True))).items()))

[(1, 200000), (2, 200000), (3, 100000), (4, 100000), (5, 100000), (6, 200000)]

In [165]:
%timeit dict(zip(*np.unique(s, return_counts=True)))

16.9 ms ± 643 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [121]:
x = pd.Series([1+2j, 1, 2,3, np.nan, 'purple'])

In [116]:
%timeit x.nunique(dropna=True)

3.72 ms ± 197 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [112]:
%timeit len(set(x[x.notna()].values))

40.8 ms ± 724 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [122]:
x.nunique(dropna=True)

5

In [7]:
from tests.timings import performance_report, relations_is_relation_test, relations_transform_test
import pandas as pd

ModuleNotFoundError: No module named 'tests.timings'

In [2]:
%%time
df = performance_report()
#df["type"] = df["type"].astype(str)

CPU times: user 13.9 s, sys: 311 ms, total: 14.2 s
Wall time: 16 s

In [2]:
%%time 
df = relations_is_relation_test()

CPU times: user 17.9 s, sys: 280 ms, total: 18.2 s
Wall time: 18.4 s

In [2]:
%%time 
df = relations_transform_test()

CPU times: user 17.5 s, sys: 319 ms, total: 17.9 s
Wall time: 18 s

In [3]:
df

,relation,count,mean,std,min,25%,50%,75%,max,worst series,best series,worst big O,best big O
0,Integer->Boolean,1.0,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,int_series_boolean,int_series_boolean,Constant: time = 0.00059 (sec),Constant: time = 0.00059 (sec)
1,String->UUID,1.0,1.024578,NaN,1.024578,1.024578,1.024578,1.024578,1.024578,uuid_series_str,uuid_series_str,Linear: time = -0.00034 + 1.9E-06*n (sec),Linear: time = -0.00034 + 1.9E-06*n (sec)
2,String->IPAddress,1.0,1.063614,NaN,1.063614,1.063614,1.063614,1.063614,1.063614,ip_str,ip_str,Linear: time = 0.00046 + 3.1E-06*n (sec),Linear: time = 0.00046 + 3.1E-06*n (sec)
3,String->Complex,1.0,1.084819,NaN,1.084819,1.084819,1.084819,1.084819,1.084819,str_complex,str_complex,Linear: time = 0.00025 + 2.4E-07*n (sec),Linear: time = 0.00025 + 2.4E-07*n (sec)
4,String->Geometry,1.0,1.146506,NaN,1.146506,1.146506,1.146506,1.146506,1.146506,geometry_string_series,geometry_string_series,Linear: time = -0.00047 + 1.3E-05*n (sec),Linear: time = -0.00047 + 1.3E-05*n (sec)
5,Object->Boolean,1.0,1.213976,NaN,1.213976,1.213976,1.213976,1.213976,1.213976,bool_nan_series,bool_nan_series,Linear: time = 0.00098 + 1.5E-07*n (sec),Linear: time = 0.00098 + 1.5E-07*n (sec)
6,String->URL,1.0,1.248675,NaN,1.248675,1.248675,1.248675,1.248675,1.248675,str_url,str_url,Linear: time = 0.00016 + 2.2E-06*n (sec),Linear: time = 0.00016 + 2.2E-06*n (sec)
7,String->DateTime,2.0,1.270602,0.093031,1.204819,1.237711,1.270602,1.303494,1.336386,string_date,timestamp_string_series,Linear: time = 0.0011 + 9.3E-08*n (sec),Quadratic: time = 0.0028 + 9.6E-13*n^2 (sec)
8,String->Float,7.0,1.291084,0.102997,1.164819,1.224337,1.283855,1.330843,1.478554,int_str_range,textual_float_nan,Linear: time = 0.00023 + 7.8E-08*n (sec),Linear: time = 0.00023 + 7.8E-08*n (sec)
9,Float->Integer,2.0,1.365783,0.083830,1.306506,1.336145,1.365783,1.395422,1.425060,float_series2,int_nan_series,Constant: time = 0.00032 (sec),Linear: time = 0.00022 + 2.4E-08*n (sec)
10,String->Path,2.0,1.422892,0.161186,1.308916,1.365904,1.422892,1.479880,1.536867,path_series_linux_str,path_series_windows_str,Linear: time = -0.00034 + 8.5E-06*n (sec),Linear: time = -0.00034 + 8.5E-06*n (sec)
11,String->Boolean,1.0,1.445301,NaN,1.445301,1.445301,1.445301,1.445301,1.445301,string_bool_nan,string_bool_nan,Linear: time = 0.0016 + 5.6E-07*n (sec),Linear: time = 0.0016 + 5.6E-07*n (sec)
12,Complex->Float,1.0,1.581687,NaN,1.581687,1.581687,1.581687,1.581687,1.581687,complex_series_float,complex_series_float,Constant: time = 0.0004 (sec),Constant: time = 0.0004 (sec)

In [40]:
back_df = df.copy()

In [49]:
df = back_df.copy()
aggs = ['min', 'max']
agg_labels = ['worst', 'best']
summary_cols = ['series', 'big O']
agg_df = df.groupby('type').agg(aggs).reset_index()[['type'] + summary_cols]
agg_df.columns = ['_'.join(col).strip('_') for col in agg_df.columns]
colrenames = {f'{name}_{agg}': f'{rename} {name}' for name in summary_cols for agg, rename in zip(aggs, agg_labels)}
agg_df.rename(columns=colrenames, inplace=True)
df["normed run time"] = df["average run time"] / df["average run time"].min()
df = df.groupby("type")["normed run time"].describe().sort_values("50%")
df = pd.merge(df, agg_df, on="type", how="left")

In [50]:
df

,type,count,mean,std,min,25%,50%,75%,max,worst series,best series,worst big O,best big O
0,Generic,86.0,1.178651,0.391980,1.000000,1.035538,1.053669,1.117278,3.913892,Int64_int_nan_series,uuid_series_str,Constant: time = 4.3E-06 (sec),Constant: time = 4.3E-06 (sec)
1,Ordinal,1.0,2.793763,NaN,2.793763,2.793763,2.793763,2.793763,2.793763,ordinal,ordinal,Constant: time = 7.8E-06 (sec),Constant: time = 7.8E-06 (sec)
2,Object,45.0,3.024763,0.298075,2.904596,2.949627,2.963012,2.983781,4.894969,bool_nan_series,uuid_series_str,Constant: time = 9.5E-06 (sec),Constant: time = 9.5E-06 (sec)
3,Float,12.0,3.075971,0.184337,2.924639,2.961512,2.999736,3.096591,3.533131,float_nan_series,nan_series_2,Constant: time = 9E-06 (sec),Constant: time = 9E-06 (sec)
4,Categorical,6.0,8.545493,12.349395,2.768247,2.833866,3.099789,5.217742,33.636184,categorical_char,ordinal,Constant: time = 1.2E-05 (sec),Constant: time = 1.2E-05 (sec)
5,Complex,6.0,3.564251,0.697663,3.024395,3.050669,3.264522,3.900376,4.740357,complex_series,complex_series_py_nan,Constant: time = 1E-05 (sec),Constant: time = 1E-05 (sec)
6,TimeDelta,2.0,3.278137,0.360523,3.023208,3.150673,3.278137,3.405601,3.533065,timedelta_series,timedelta_series_nat,Constant: time = 9.4E-06 (sec),Constant: time = 9.4E-06 (sec)
7,DateTime,5.0,3.671273,0.982743,2.991495,3.000000,3.339619,3.668623,5.356630,date_series_nat,timestamp_series_nat,Constant: time = 9.7E-06 (sec),Constant: time = 9.7E-06 (sec)
8,UUID,2.0,4.787499,0.108535,4.710754,4.749126,4.787499,4.825872,4.864245,uuid_series,uuid_series_missing,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)
9,Boolean,4.0,5.698556,0.238221,5.462715,5.602805,5.650623,5.746374,6.030263,bool_series,nullable_bool_series,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)
10,Count,1.0,6.590031,NaN,6.590031,6.590031,6.590031,6.590031,6.590031,np_uint32,np_uint32,Constant: time = 2.9E-05 (sec),Constant: time = 2.9E-05 (sec)
11,Integer,5.0,8.752159,6.740502,3.563922,5.277444,6.652074,7.792774,20.474583,Int64_int_nan_series,int_series_boolean,Constant: time = 1.8E-05 (sec),Constant: time = 1.8E-05 (sec)
12,File,5.0,11.471985,4.682660,4.451638,11.621151,11.649173,11.993605,17.644359,file_mixed_ext,image_png_missing,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)
13,Image,2.0,12.857124,1.732917,11.631766,12.244445,12.857124,13.469803,14.082482,image_png,image_png_missing,Constant: time = 2.9E-05 (sec),Constant: time = 2.9E-05 (sec)
14,Date,2.0,678.351618,328.602083,445.994857,562.173237,678.351618,794.529999,910.708379,date_series_nat,datetime,Linear: time = 0.00033 + 1.4E-08*n (sec),Linear: time = 0.00033 + 1.4E-08*n (sec)
15,Geometry,2.0,6193.253867,8749.307354,6.559306,3099.906587,6193.253867,9286.601148,12379.948428,geometry_series,geometry_series_missing,Linear: time = 4.5E-05 + 1.8E-07*n (sec),Constant: time = 1.5E-05 (sec)
16,IPAddress,3.0,6313.353722,5463.339084,4.859234,4728.373306,9451.887378,9467.600966,9483.314555,ip,ip_mixed_v4andv6,Linear: time = 4E-06 + 1.4E-07*n (sec),Constant: time = 1.2E-05 (sec)
17,String,22.0,13573.771647,1214.095036,11969.913946,12916.225839,13023.237740,13693.882214,16723.737835,geometry_string_series,uuid_series_str,Linearithmic: time = -7E-05 + 1.9E-08*n*log(n)...,Linear: time = 0.00028 + 1.9E-07*n (sec)
18,URL,3.0,16752.514522,445.009387,16394.723726,16503.361888,16612.000049,16931.409919,17250.819789,url_nan_series,url_series,Linear: time = 9.2E-05 + 2.4E-07*n (sec),Linear: time = 9.2E-05 + 2.4E-07*n (sec)
19,Path,8.0,16911.030362,14415.705860,5.664007,5.946051,24489.465361,25357.158559,35117.126028,file_mixed_ext,path_series_windows,Linearithmic: time = -0.00042 + 4.2E-08*n*log(...,Constant: time = 1.6E-05 (sec)

In [43]:
agg_df

,type,series_min,series_max,big O_min,big O_max
0,Boolean,bool_series,nullable_bool_series,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)
1,Categorical,categorical_char,ordinal,Constant: time = 1.2E-05 (sec),Constant: time = 1.2E-05 (sec)
2,Complex,complex_series,complex_series_py_nan,Constant: time = 1E-05 (sec),Constant: time = 1E-05 (sec)
3,Count,np_uint32,np_uint32,Constant: time = 2.9E-05 (sec),Constant: time = 2.9E-05 (sec)
4,Date,date_series_nat,datetime,Linear: time = 0.00033 + 1.4E-08*n (sec),Linear: time = 0.00033 + 1.4E-08*n (sec)
5,DateTime,date_series_nat,timestamp_series_nat,Constant: time = 9.7E-06 (sec),Constant: time = 9.7E-06 (sec)
6,File,file_mixed_ext,image_png_missing,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)
7,Float,float_nan_series,nan_series_2,Constant: time = 9E-06 (sec),Constant: time = 9E-06 (sec)
8,Generic,Int64_int_nan_series,uuid_series_str,Constant: time = 4.3E-06 (sec),Constant: time = 4.3E-06 (sec)
9,Geometry,geometry_series,geometry_series_missing,Linear: time = 4.5E-05 + 1.8E-07*n (sec),Constant: time = 1.5E-05 (sec)
10,IPAddress,ip,ip_mixed_v4andv6,Linear: time = 4E-06 + 1.4E-07*n (sec),Constant: time = 1.2E-05 (sec)
11,Image,image_png,image_png_missing,Constant: time = 2.9E-05 (sec),Constant: time = 2.9E-05 (sec)
12,Integer,Int64_int_nan_series,int_series_boolean,Constant: time = 1.8E-05 (sec),Constant: time = 1.8E-05 (sec)
13,Object,bool_nan_series,uuid_series_str,Constant: time = 9.5E-06 (sec),Constant: time = 9.5E-06 (sec)
14,Ordinal,ordinal,ordinal,Constant: time = 7.8E-06 (sec),Constant: time = 7.8E-06 (sec)
15,Path,file_mixed_ext,path_series_windows,Linearithmic: time = -0.00042 + 4.2E-08*n*log(...,Constant: time = 1.6E-05 (sec)
16,String,geometry_string_series,uuid_series_str,Linearithmic: time = -7E-05 + 1.9E-08*n*log(n)...,Linear: time = 0.00028 + 1.9E-07*n (sec)
17,TimeDelta,timedelta_series,timedelta_series_nat,Constant: time = 9.4E-06 (sec),Constant: time = 9.4E-06 (sec)
18,URL,url_nan_series,url_series,Linear: time = 9.2E-05 + 2.4E-07*n (sec),Linear: time = 9.2E-05 + 2.4E-07*n (sec)
19,UUID,uuid_series,uuid_series_missing,Constant: time = 1.3E-05 (sec),Constant: time = 1.3E-05 (sec)

In [5]:
df.groupby('type')['normed run time'].describe()

,count,mean,std,min,25%,50%,75%,max
type,,,,,,,,
Boolean,4.0,2.281167,0.181506,2.179914,2.190339,2.195784,2.286612,2.553183
Categorical,6.0,1.065495,0.117437,1.000000,1.009710,1.018906,1.038690,1.303231
Complex,6.0,1.203364,0.162625,1.113465,1.134551,1.137621,1.157573,1.533724
Count,1.0,1.407142,NaN,1.407142,1.407142,1.407142,1.407142,1.407142
Date,2.0,371.603047,264.943622,184.259615,277.931331,371.603047,465.274763,558.946479
DateTime,5.0,2.093957,1.267291,1.185852,1.296456,1.542226,2.195190,4.250061
Float,12.0,1.177107,0.111002,1.125800,1.137594,1.140320,1.155387,1.525762
Generic,75.0,0.388282,0.051799,0.359828,0.365807,0.372055,0.381663,0.680602
Geometry,1.0,5151.346063,NaN,5151.346063,5151.346063,5151.346063,5151.346063,5151.346063
IPAddress,1.0,3981.539958,NaN,3981.539958,3981.539958,3981.539958,3981.539958,3981.539958
Integer,5.0,1.282951,0.200233,1.162074,1.184448,1.206877,1.222558,1.638795
Object,34.0,1.173795,0.401219,1.051092,1.073041,1.077866,1.105645,3.383094
Ordinal,1.0,1.369680,NaN,1.369680,1.369680,1.369680,1.369680,1.369680
Path,2.0,11921.301543,3359.479165,9545.791044,10733.546294,11921.301543,13109.056793,14296.812042
String,22.0,6352.231777,1002.278865,5041.328601,5514.300437,6159.060174,6719.296550,8747.502631
TimeDelta,2.0,2.532118,0.317168,2.307846,2.419982,2.532118,2.644254,2.756390
URL,2.0,8875.434347,1352.378676,7919.158214,8397.296280,8875.434347,9353.572413,9831.710480
UUID,1.0,4951.634153,NaN,4951.634153,4951.634153,4951.634153,4951.634153,4951.634153

In [5]:
df[df['type']=='Generic'].sort_values('normed run time')

,type,series,run count,average run time,normed run time
129,Generic,ip_str,10,0.000001,0.352867
133,Generic,geometry_string_series,10,0.000001,0.354836
176,Generic,mixed_dict,10,0.000001,0.355052
118,Generic,categorical_int_series,10,0.000001,0.355079
155,Generic,float_series6,10,0.000001,0.355457
...,...,...,...,...,...
166,Generic,nan_series_2,10,0.000001,0.376150
150,Generic,string_unicode_series,10,0.000001,0.377391
108,Generic,categorical_char,10,0.000001,0.391690
181,Generic,timestamp_aware_series,10,0.000002,0.425577
107,Generic,bool_series3,10,0.000002,0.605936

In [7]:
sdf = df.groupby(['type'])['normed run time'].describe().sort_values('50%')

In [20]:
slow_df = df.groupby('type').min().reset_index()[['type', 'series']]
slow_df.rename(columns={'series': 'slowest test'}, inplace=True)

In [19]:
import pandas as pd
pd.merge(sdf, slow_df, on='type', how='left')

,type,count,mean,std,min,25%,50%,75%,max,slowest test
0,Generic,75.0,0.388282,0.051799,0.359828,0.365807,0.372055,0.381663,0.680602,Int64_int_nan_series
1,Categorical,6.0,1.065495,0.117437,1.000000,1.009710,1.018906,1.038690,1.303231,categorical_char
2,Object,34.0,1.173795,0.401219,1.051092,1.073041,1.077866,1.105645,3.383094,bool_nan_series
3,Complex,6.0,1.203364,0.162625,1.113465,1.134551,1.137621,1.157573,1.533724,complex_series
4,Float,12.0,1.177107,0.111002,1.125800,1.137594,1.140320,1.155387,1.525762,float_nan_series
5,Integer,5.0,1.282951,0.200233,1.162074,1.184448,1.206877,1.222558,1.638795,Int64_int_nan_series
6,Ordinal,1.0,1.369680,NaN,1.369680,1.369680,1.369680,1.369680,1.369680,ordinal
7,Count,1.0,1.407142,NaN,1.407142,1.407142,1.407142,1.407142,1.407142,np_uint32
8,DateTime,5.0,2.093957,1.267291,1.185852,1.296456,1.542226,2.195190,4.250061,date_series_nat
9,Boolean,4.0,2.281167,0.181506,2.179914,2.190339,2.195784,2.286612,2.553183,bool_series
10,TimeDelta,2.0,2.532118,0.317168,2.307846,2.419982,2.532118,2.644254,2.756390,timedelta_series
11,Date,2.0,371.603047,264.943622,184.259615,277.931331,371.603047,465.274763,558.946479,date_series_nat
12,IPAddress,1.0,3981.539958,NaN,3981.539958,3981.539958,3981.539958,3981.539958,3981.539958,ip
13,UUID,1.0,4951.634153,NaN,4951.634153,4951.634153,4951.634153,4951.634153,4951.634153,uuid_series
14,Geometry,1.0,5151.346063,NaN,5151.346063,5151.346063,5151.346063,5151.346063,5151.346063,geometry_series
15,String,22.0,6352.231777,1002.278865,5041.328601,5514.300437,6159.060174,6719.296550,8747.502631,geometry_string_series
16,URL,2.0,8875.434347,1352.378676,7919.158214,8397.296280,8875.434347,9353.572413,9831.710480,url_nan_series
17,Path,2.0,11921.301543,3359.479165,9545.791044,10733.546294,11921.301543,13109.056793,14296.812042,path_series_linux

In [7]:
from urllib.parse import urlparse, ParseResult

In [17]:
x = urlparse('www.google.com')

In [22]:
%timeit all((x.netloc, x.scheme))

170 ns ± 7.77 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [19]:
%timeit x.scheme

45.7 ns ± 0.487 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [20]:
%timeit isinstance(x, ParseResult)

69.9 ns ± 3.15 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [2]:
series_dict = {s.name: s for s in get_series()}
conv_map = get_contains_map()

In [3]:
from visions import URL, Path
dtype = URL
series_names = conv_map[dtype]
test_series = {name: series_dict[name] for name in series_names}
profile_type(dtype, test_series)

[{'type': URL,
  'series': 'url_series',
  'run count': 1000,
  'average run time': 0.003435736683},
 {'type': URL,
  'series': 'url_nan_series',
  'run count': 1000,
  'average run time': 0.0036911050150000005}]

In [50]:
%timeit test_series['url_nan_series'] in URL

381 µs ± 18.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [51]:
381 * 10**-6

0.000381

In [47]:
dtype = Path
series_names = conv_map[dtype]
test_series = {name: series_dict[name] for name in series_names}
profile_type(dtype, test_series)

[{'type': Path,
  'series': 'path_series_linux',
  'run count': 1000,
  'average run time': 7.1344300004057e-06},
 {'type': Path,
  'series': 'path_series_windows',
  'run count': 1000,
  'average run time': 6.785698999919987e-06}]

In [4]:
import big_o
from visions import *
import numpy as np
import pandas as pd
from ipaddress import IPv4Address
from pathlib import PureWindowsPath, PurePosixPath
import datetime

max_n = 250000
vals = ['1', '2']
data = pd.Series(np.random.choice(vals, max_n))

def data_gen(n):
    return data[0:n]

def test_func(x):
    return x in String


t = big_o.big_o(test_func, data_gen, max_n=max_n)
print(t[0].coeff)
t

[3.07896281e-03 1.84281717e-07]

(<big_o.complexities.Linear at 0x108cd2790>,
 {<big_o.complexities.Constant at 0x1156b5bb0>: 0.0022052618093613696,
  <big_o.complexities.Linear at 0x108cd2790>: 4.520022168580061e-05,
  <big_o.complexities.Quadratic at 0x1156c65e0>: 0.00029429681135796436,
  <big_o.complexities.Cubic at 0x1156c68b0>: 0.0005304804517910956,
  <big_o.complexities.Polynomial at 0x11576fca0>: 0.6575367575075384,
  <big_o.complexities.Logarithmic at 0x11576fd90>: 0.0008666859053877144,
  <big_o.complexities.Linearithmic at 0x11577eac0>: 6.026117609195123e-05,
  <big_o.complexities.Exponential at 0x11577e4f0>: 4.870764031928511})

In [8]:
Constant

big_o.complexities.Constant

In [6]:
data.shape

(250000,)

In [5]:
f = list(t[1].keys())
sorted(f)

[<big_o.complexities.Constant at 0x1156b5bb0>,
 <big_o.complexities.Linear at 0x108cd2790>,
 <big_o.complexities.Logarithmic at 0x11576fd90>,
 <big_o.complexities.Linearithmic at 0x11577eac0>,
 <big_o.complexities.Quadratic at 0x1156c65e0>,
 <big_o.complexities.Cubic at 0x1156c68b0>,
 <big_o.complexities.Polynomial at 0x11576fca0>,
 <big_o.complexities.Exponential at 0x11577e4f0>]

In [1]:
from big_o.complexities import *

In [3]:
Constant() > Linear()

False

In [3]:
{Linear(): 2}

TypeError: unhashable type: 'Linear'

In [4]:
hash(Constant())

TypeError: unhashable type: 'Constant'

In [15]:
Constant().order

1

In [6]:
from tests.series import get_series, get_contains_map, infer_series_type_map, get_convert_map

In [25]:
def get_relation(to_type, from_type):
    return next(relation for relation in to_type.relations if relation.related_type is from_type)
convert_map = get_convert_map()
relation_tests = {get_relation(*conversions[0:2]): conversions[2] for conversions in convert_map}

In [26]:
relation_tests

{InferenceRelation(type=Integer, related_type=Float, transformer=<function to_int at 0x11d280790>, inferential=True, relationship=<function float_is_int at 0x11d280940>): ['int_nan_series',
  'float_series2'],
 InferenceRelation(type=Complex, related_type=String, transformer=<function to_complex at 0x11d278430>, inferential=True, relationship=<function test_string_is_complex at 0x11d274ee0>): ['str_complex'],
 InferenceRelation(type=Float, related_type=String, transformer=<function string_to_float at 0x11d2781f0>, inferential=True, relationship=<function test_string_is_float at 0x11d278160>): ['string_flt',
  'string_num_nan',
  'string_num',
  'string_flt_nan',
  'textual_float',
  'textual_float_nan',
  'int_str_range'],
 InferenceRelation(type=DateTime, related_type=String, transformer=<function to_datetime at 0x11d278d30>, inferential=True, relationship=<function coercion_test.<locals>.f at 0x1116ec430>): ['timestamp_string_series',
  'string_date'],
 InferenceRelation(type=Geometry, related_type=String, transformer=<function to_geometry at 0x11d2803a0>, inferential=True, relationship=<function string_is_geometry at 0x11d280280>): ['geometry_string_series'],
 InferenceRelation(type=Boolean, related_type=String, transformer=<function _get_relations.<locals>.<lambda> at 0x1116ec550>, inferential=True, relationship=<function _get_relations.<locals>.<lambda> at 0x1116ec4c0>): ['string_bool_nan'],
 InferenceRelation(type=IPAddress, related_type=String, transformer=<function to_ip at 0x11d280b80>, inferential=True, relationship=<function coercion_test.<locals>.f at 0x1116ec790>): ['ip_str'],
 InferenceRelation(type=URL, related_type=String, transformer=<function to_url at 0x11d2b90d0>, inferential=True, relationship=<function test_url at 0x11d2afee0>): ['str_url'],
 InferenceRelation(type=Path, related_type=String, transformer=<function to_path at 0x11d2af940>, inferential=True, relationship=<function string_is_path at 0x11d2af8b0>): ['path_series_windows_str',
  'path_series_linux_str'],
 InferenceRelation(type=Float, related_type=Complex, transformer=<function suppress_warnings.<locals>.inner at 0x1116ec310>, inferential=True, relationship=<function _get_relations.<locals>.<lambda> at 0x1116ec280>): ['complex_series_float'],
 InferenceRelation(type=Boolean, related_type=Integer, transformer=<function to_bool at 0x11d274700>, inferential=True, relationship=<function _get_relations.<locals>.<lambda> at 0x1116ec5e0>): ['int_series_boolean'],
 InferenceRelation(type=Boolean, related_type=Object, transformer=<function to_bool at 0x11d274700>, inferential=True, relationship=<function _get_relations.<locals>.<lambda> at 0x1116ec670>): ['bool_nan_series'],
 InferenceRelation(type=UUID, related_type=String, transformer=<function to_uuid at 0x11d2b9430>, inferential=True, relationship=<function test_uuid at 0x11d2b93a0>): ['uuid_series_str']}

In [18]:
convert_map

[(Integer, Float, ['int_nan_series', 'float_series2']),
 (Complex, String, ['str_complex']),
 (Float,
  String,
  ['string_flt',
   'string_num_nan',
   'string_num',
   'string_flt_nan',
   'textual_float',
   'textual_float_nan',
   'int_str_range']),
 (DateTime, String, ['timestamp_string_series', 'string_date']),
 (Geometry, String, ['geometry_string_series']),
 (Boolean, String, ['string_bool_nan']),
 (IPAddress, String, ['ip_str']),
 (URL, String, ['str_url']),
 (Path, String, ['path_series_windows_str', 'path_series_linux_str']),
 (Float, Complex, ['complex_series_float']),
 (Boolean, Integer, ['int_series_boolean']),
 (Boolean, Object, ['bool_nan_series']),
 (UUID, String, ['uuid_series_str'])]

In [1]:
import visions as vis
import pandas as pd

In [2]:
s = pd.Series(['11111111111', ''])
vis.functional.infer_series_type(s, vis.StandardSet())

String

In [9]:
error_list = [ValueError, TypeError, AttributeError, SystemError]

In [10]:
error_list.extend([OverflowError])

In [11]:
error_list

[ValueError, TypeError, AttributeError, SystemError, OverflowError]

In [14]:
try:
    raise OverflowError
except tuple(error_list):
    pass

In [3]:
from big_o.complexities import ComplexityClass


class FirstComplexity(ComplexityClass):
    order = 1


class SecondComplexity(ComplexityClass):
    order = 2

In [5]:
FirstComplexity() < SecondComplexity()

True

In [2]:
import uuid
import pandas as pd
import numpy as np
from visions import *
import pandas.api.types as pdt
import datetime
s =  pd.Series([1, 2], dtype='object')

pdt.is_string_dtype(pdt.CategoricalDtype())

True

In [8]:
s = pd.Series(['11111111111', ''], name="string_series_broke_date")
s in Integer

False

In [12]:
G = CompleteSet().relation_graph

In [26]:
G[String][Float]['relationship'].is_relation(s)

False

In [10]:
Integer.relations

[IdentityRelation(type=Integer, related_type=Generic, inferential=False, transformer=<function identity_relation at 0x1198fb040>, relationship=<bound method VisionsBaseTypeMeta.__contains__ of Integer>),
 InferenceRelation(type=Integer, related_type=Float, transformer=<function to_int at 0x11997aa60>, inferential=True, relationship=<function float_is_int at 0x11997ac10>)]

In [3]:
s = pd.Series(['a', 'b', 'c']*1000, dtype='string')
%timeit pdt.is_string_dtype(s)
%timeit pdt.is_object_dtype(s)

9.58 µs ± 1.01 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)
3 µs ± 260 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [4]:
s = pd.Series(['a', 'b', 'c']*1000)
%timeit pdt.is_string_dtype(s)
%timeit pdt.is_object_dtype(s)

7.55 µs ± 446 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
2.53 µs ± 136 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
pdt.is_string_dtype(pd.CategoricalDtype)

True

In [10]:
sample_size = 1
all(isinstance(x, uuid.UUID) for x in s.head(sample_size))

True

In [11]:
attrs = ["time_low", "hex"]
all(all(getattr(x, attr) for attr in attrs) for x in s)

False

In [14]:
all(getattr(s[2], attr) for attr in attrs)

False

In [16]:
s[2].hex

'00000000000000000000000000000000'

In [103]:
flipper = {'1': '0', '0': '1'}
alphabet = {i + 1: letter for i, letter in enumerate('abcdefghijklmnopqrstuvwxyz')}

init_orient = '1010101010101010101010101'
#init_orient = ''.join([flipper[v] for v in init_orient])
fruit = '0011011010100000010000001'
diamonds = '1000111111010100000000111'


def flip(curr, cmd):
    if cmd == '1':
        return flipper[curr]
    else: 
        return curr


class spoons:
    def __init__(self, init_orientation):
        self.init_orientation = init_orientation
        self._orientation = self.init_orientation

    def flip(self, flips=25):
        assert len(flips) == len(self._orientation)
        self._orientation = [flip(curr, cmd) for curr, cmd in zip(self._orientation, flips)]
    
    def orientation(self, n, joiner=' '):
        return joiner.join([''.join(self._orientation[i-n:i]) 
                         for i in range(n, len(self._orientation) + 1, n)])
    
    def translate(self, n):
        return ''.join(alphabet[int(v, 2)] for v in self.orientation(n).split())

In [104]:
sp = spoons(init_orient)
sp.flip(fruit)
o1 = sp.orientation(5)
print(o1, sp.translate(5))
sp.flip(diamonds)
o2 = sp.orientation(5)
print(o2, sp.translate(5))

10011 10000 00101 01110 10100 spent
00010 01111 01111 01110 10011 boons

In [105]:
int('00010', 2)

2

In [ ]:
bentspoons